.has-header-image.twentyseventeen-front-page .custom-header, .has-header-video.twentyseventeen-front-page .custom-header, .has-header-image.home.blog .custom-header, .has-header-video.home.blog .custom-header {
    height: 80vh;
}

.panel-image {
    height: 65vh;
}

.padding-left-30px {
    padding-left: 30px
}