.donutContainer {
    position: relative;
    float: left;
}

.donutContainer h2 {
    text-align:center;
    font-size: small;
    position: absolute;
    line-height: 155px;
    width: 100%;
}

.donutContainer svg {
    transform: rotate(-90deg);
}

.donut {
    stroke-dasharray: 440;
    -webkit-animation: donut 1s ease-out forwards;
    animation: donut 1s ease-out forwards;
}

@-webkit-keyframes donut {
    from {
        stroke-dashoffset: 440;
    }
}

@keyframes donut {
    from {
        stroke-dashoffset: 440;
    }
}