.donutContainer {
    position: relative;
    float: left;
    transition: transform .2s;
}

.donutContainer:hover {
    transform: scale(1.7);
}

.donutContainer:active {
    transform: scale(1.8);
}

.donutContainer h2 {
    font-weight: bold;
    text-align:center;
    font-size: x-small;
    position: absolute;
    line-height: 155px;
    width: 100%;
}

.donutContainer svg {
    transform: rotate(-90deg);
}

.donut {
    stroke-dasharray: 440;
    -webkit-animation: donut 1s ease-out forwards;
    animation: donut 1s ease-out forwards;
}

@-webkit-keyframes donut {
    from {
        stroke-dashoffset: 440;
    }
}

@keyframes donut {
    from {
        stroke-dashoffset: 440;
    }
}