@import 'constants.scss';

// Header image
.has-header-image.twentyseventeen-front-page .custom-header, .has-header-video.twentyseventeen-front-page .custom-header, .has-header-image.home.blog .custom-header, .has-header-video.home.blog .custom-header {
  height: 40vh;
}

// Content images
.panel-image {
  height: 30vh;
}

.wrap {
  max-width: 80%;
}

// Header and content images for desktop
@media screen and (min-width: $desktop-size) {
  .has-header-image.twentyseventeen-front-page .custom-header, .has-header-video.twentyseventeen-front-page .custom-header, .has-header-image.home.blog .custom-header, .has-header-video.home.blog .custom-header {
    height: 80vh;
  }

  .panel-image {
    height: 55vh;
  }
}

.header-image-gradient {
  background-image: linear-gradient(75deg, rgba(0, 0, 0, 1) 0%, rgba(81, 81, 81, 1) 43%, rgba(197, 197, 197, 1) 51%, rgba(197, 197, 197, 1) 66%, rgba(197, 197, 197, 1) 85%, rgba(197, 197, 197, 1) 100%);
}

.panel-image-background {
  background-color: #dddddd;
}

.text-shadow {
  text-shadow: 1px 1px 3px #000;
}

.enlarge-text {
  text-align: center;
  color: grey;
  font-size: small;
  padding-bottom: 20px
}

.employment {
  &-legend {
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  &-div {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
  &-ul {
    padding-left: 30px;

  }
  &-card {
    font-size: small;
    background-color: white;
    margin-bottom: 20px;
    width: 100%;

    // rounded corners
    border-radius: 24px 24px 24px 24px;
    -moz-border-radius: 24px 24px 24px 24px;
    -webkit-border-radius: 24px 24px 24px 24px;

    // needed for transition animation
    -webkit-transition: .7s;
    transition: .7s;

    // Cutting long text
    max-height: 220px;
    overflow: hidden;

    @media screen and (min-width: $desktop-size) {
      &:hover {
        background-color: white;
        -webkit-box-shadow: 10px 10px 55px 0px rgba(0, 0, 0, 0.30);
        -moz-box-shadow: 10px 10px 55px 0px rgba(0, 0, 0, 0.30);
        box-shadow: 10px 10px 55px 0px rgba(0, 0, 0, 0.30);

        // Zoom in animation
        transform: scale(1.1);

        cursor: pointer;

        & > legend {
          text-shadow: 1px 1px 1px lightgrey;
        }
      }

      &:active {
        transform: scale(1.05);

        & > legend {
          text-shadow: 1px 1px 1px lightgrey;
        }
      }

      &-clicked {
        border-bottom-style: solid !important;

        // Unset cutting of long text
        max-height: none;
        overflow: visible;

        // shadow
        -webkit-box-shadow: 10px 10px 55px 0px rgba(0, 0, 0, 0.20);
        -moz-box-shadow: 10px 10px 55px 0px rgba(0, 0, 0, 0.20);
        box-shadow: 10px 10px 55px 0px rgba(0, 0, 0, 0.20);

        & > legend {
          text-shadow: 1px 1px 1px lightgrey;
        }
      }
    }
  }
}

.color-blue {
  color: $color-blue !important;
}

.color-purple {
  color: $color-purple !important;
}

.color-green {
  color: $color-green !important;
}

.color-yellow {
  color: $color-yellow !important;
}

.employer {
  font-style: italic;
  color: grey;
}

.employment-dotted-line {
  border-left: 5px dotted grey;
  padding-left: 15px
}

.border {
  &-blue {
    border: 2px solid $color-blue;
  }

  &-purple {
    border: 2px solid $color-purple;
  }

  &-green {
    border: 2px solid $color-green;
  }

  &-yellow {
    border: 2px solid $color-yellow;
  }

  &-with-details {
    border-bottom-style: dotted;

    @media screen and (max-width: $desktop-size) {
      border-bottom-style: solid !important;
    }
  }
}

.project-title {
  font-style: italic;
  display: block;
}

.italic-date {
  font-style: italic;
  padding-right: 5px
}

@media screen and (max-width: $desktop-size) {
  .invisible-mobile {
    display: none;
  }
}

.hard-skills {
  &-wrap {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 90px !important;
    max-width: 1000px !important;
  }
  &-description {
    padding-left: 25px;
  }
}

.soft-skills {
  &-wrap {
    padding-top: 0px !important;
    padding-left: 90px !important;
    max-width: 1000px !important;
  }
  &-description {
    padding-left: 65px;
  }
}

.no-padding-wrap {
  padding-bottom: 0 !important;
}

.padding-left-30px {
  padding-left: 30px
}

.svg-icons {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tooltip {
  cursor: default !important;

  &-blue {
    @extend .tooltip;
    --balloon-color: #006ac7;
  }

  &-purple {
    @extend .tooltip;
    --balloon-color: #ba0e56;
  }

  &-green {
    @extend .tooltip;
    --balloon-color: #1b8521;
  }

  &-yellow {
    @extend .tooltip;
    --balloon-color: #d1a52d;
  }

  &-grey {
    @extend .tooltip;
    --balloon-color: #666666;
  }
}