$chart-size: 130px; // change also in custom.js

.chart {
  position: relative;
  display: inline-block;
  width: $chart-size;
  height: $chart-size;
  text-align: center;
  transition: transform 0.5s, filter 0.5s;
  margin: 50px 20px;
  font-size: small;

  &:hover {
    transform: scale(1.2);
    filter: saturate(250%);

    canvas {
      transform: rotate(360deg);
    }
  }

  &:active {
    transform: scale(1.1);
    filter: saturate(180%);

    canvas {
      transform: rotate(360deg);
    }
  }

  &-text {
    display: inline-block;
    line-height: $chart-size;
    z-index: 2;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
