$chart-size: 130px; // change also in custom.js

.chart {
  position: relative;
  display: inline-block;
  width: $chart-size;
  height: $chart-size;
  text-align: center;
  transition: transform 0.5s, filter 0.5s, box-shadow 0.5s;
  margin: 50px 20px;
  font-size: small;
  background-color: white;
  border-radius: 50%;

  &:hover {
    transform: scale(1.2);
    filter: saturate(250%);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);

    canvas {
      transform: rotate(360deg);
    }
  }

  &:active {
    transform: scale(1.1);
    filter: saturate(180%);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    canvas {
      transform: rotate(360deg);
    }
  }

  &-text {
    display: inline-block;
    line-height: $chart-size;
    z-index: 2;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
